.hero {
  height: 80vh;
  display: flex;
  justify-content: start;
  align-items: center;
  div {
    // background: #000;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    // padding-left: 20px;
    color: $white;

    h1 {
      padding-bottom: 30px;
      text-shadow: 0 0 5px $black;
    }

    p {
      padding-bottom: 30px;
      text-shadow: 0 0 5px $black;
      text-transform: uppercase;
    }
  }
}

#a-propos {
  background: $degradeOverlay;
  padding: 50px;
  border-radius: 10px;
  color: $white;
  text-shadow: 0 0 5px $black;

  h2 {
    text-transform: uppercase;
    &:after {
      content: "";
      display: block;
      width: 40px;
      margin: 20px 0;
      border: 1.5px solid $white;
    }
  }
}

#competences {
  margin: 50px auto;
  h2,
  h3,
  h5 {
    color: $white;
    text-shadow: 0 0 10px $black;
  }

  h3 {
    padding-top: 40px;
  }

  .container {
    h5 {
      margin: 20px 0;
    }

    .progress {
      padding: 10px;
      background: $degradeOverlay;
      box-shadow: 0 0 10px $black;
      font-size: 0.9rem;
    }
  }
}
