.hero {
  height: 80vh;
  display: flex;
  justify-content: start;
  align-items: center;
  div {
    // background: #000;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    // padding-left: 20px;
    color: $white;

    h1 {
      padding-bottom: 30px;
      text-shadow: 0 0 5px $black;
    }

    p {
      padding-bottom: 30px;
      text-shadow: 0 0 5px $black;
      text-transform: uppercase;
    }
  }
}

#a-propos {
  background: $degradeOverlay;
  padding: 50px;
  border-radius: 10px;
  text-shadow: 0 0 5px $black;
  color: $white;

  h2 {
    text-transform: uppercase;
    text-shadow: 0 0 10px $black;

    &:after {
      content: "";
      display: block;
      width: 40px;
      margin: 20px 0;
      border: 1.5px solid $white;
      box-shadow: 0 0 10px $black;
    }
  }
}

#competences {
  margin: 50px auto;
  // background: $blackOverlay;
  // padding: 50px;
  // border-radius: 10px;
  text-shadow: 0 0 5px $black;

  h2 {
    text-transform: uppercase;
    text-shadow: 0 0 10px $black;

    &:after {
      content: "";
      display: block;
      width: 40px;
      margin: 20px 0;
      border: 1.5px solid $white;
      box-shadow: 0 0 10px $black;
    }
  }

  h3 {
    padding-top: 40px;
  }

  h2,
  h3,
  h5 {
    color: $white;
    text-shadow: 0 0 10px $black;
  }

  .container {
    h5 {
      margin: 20px 0;
    }

    .progress {
      height: 25px;
      // background: $degradeOverlay;
      box-shadow: 0 0 10px $black;
      font-size: 0.9rem;
      .progress-bar {
        height: 25px;
        background: $degradeOverlay;
      }
    }
  }
  .competences-techniques {
    .progress {
      background: $degradeOverlay2;
    }
  }
}

#formations {
  margin: 50px auto;
  background: $degradeOverlay;
  border-radius: 10px;
  padding: 50px;
  text-align: center;

  h2 {
    color: $white;
    text-shadow: 0 0 10px $black;
    text-transform: uppercase;
    padding-bottom: 30px;
    &:after {
      content: "";
      display: block;
      width: 40px;
      margin: 20px auto;
      border: 1.5px solid $white;
      box-shadow: 0 0 10px $black;
    }
  }
  .timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
    &::after {
      content: "";
      position: absolute;
      width: 4px;
      background: $white;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -2px;
      box-shadow: 0 0 5px $blackShadow;
    }
    .timeline-item {
      position: relative;
      width: 50%;
      padding: 10px 40px;
      box-sizing: border-box;
      &:nth-child(odd) {
        left: 0;
        text-align: right;
      }
      &:nth-child(even) {
        left: 50%;
        text-align: left;
      }
      .timeline-badge {
        position: absolute;
        top: 10px;
        left: 50%;
        width: 60px;
        height: 60px;
        background: $degradeOverlay;
        box-shadow: 0 0 10px $blackShadow;
        text-shadow: 0 0 5px $blackShadow;
        border-radius: 50%;
        border: 2px solid $white;
        color: $white;
        padding: 10px;
        font-weight: bold;
        transform: translate(-50%, -30px);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .timeline-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $whiteShadow;
        box-shadow: 0 0 10px $blackShadow;
        text-shadow: 0 0 5px $blackShadow;
        padding: 40px 30px 10px;
        border-radius: 10px;
        color: $white;
        text-align: center;
        font-size: 1rem;

        h5 {
          @media screen and (max-width: 720px) {
            font-size: small;
          }
          &:after {
            content: "";
            display: block;
            width: 40px;
            margin: 20px auto 10px;
            border: 1.5px solid $white;
          }
        }

        p {
          @media screen and (max-width: 720px) {
            font-size: x-small;
          }
        }
      }
    }
  }
}

#portfolio {
  margin: 50px auto;

  h2 {
    color: $white;
    text-shadow: 0 0 10px $black;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: center;
    &:after {
      content: "";
      display: block;
      width: 40px;
      margin: 20px auto;
      border: 1.5px solid $white;
      box-shadow: 0 0 10px $black;
    }
  }
}

#contact {
  margin: 50px auto;
  background: $degradeOverlay;
  border-radius: 10px;
  padding: 50px;

  h2 {
    color: $white;
    text-shadow: 0 0 10px $black;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    &:after {
      content: "";
      display: block;
      width: 40px;
      margin: 20px auto;
      border: 1.5px solid $white;
      box-shadow: 0 0 10px $black;
    }
  }

  #contact-form {
    font-size: 1rem;
  }

  .colorized {
    color: $color1;
  }

  label {
    padding-bottom: 20px;
    color: $white;
    text-shadow: 0 0 5px $blackShadow;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    border-radius: 360px;
    box-shadow: 0 0 5px $blackShadow;
  }
  .form-control {
    height: 40px;
  }

  .comments {
    font-style: italic;
    color: #d82c2e;
    height: 25px;
  }

  .strong {
    padding-bottom: 10px;
    font-size: 0.9rem;
    text-shadow: 0 0 5px $blackShadow;
  }

  .thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1rem;
    color: greenyellow;
  }
}
