//fonts

$font1: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

//colors

$degradeOverlay: linear-gradient(
  45deg,
  rgba(118, 77, 130, 0.9),
  rgba(184, 100, 101, 0.9),
  rgba(238, 170, 70, 0.9)
);
$degradeOverlay2: linear-gradient(
  45deg,
  rgba(238, 170, 70, 0.9),
  rgba(184, 100, 101, 0.9),
  rgba(118, 77, 130, 0.9)
);

$degrade: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
$degrade2: linear-gradient(45deg, #eeaa46, #b86465, #764d82);

$color1: #eeaa46;
$color2: #764d82;
$color3: #d82c2e;
$color4: #dadada;
$white: #fff;
$black: #000;
$bg: #13161d;
$whiteShadow: rgba(255, 255, 255, 0.25);
$blackShadow: rgba(0, 0, 0, 0.25);
$blackOverlay: rgba(0, 0, 0, 0.9);
$whiteOverlay: rgba(255, 255, 255, 0.9);

//general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // user-select: none;
  font-family: $font1;
  cursor: default;
}

body {
  width: 100%;
  background: $bg !important;
}

a {
  text-decoration: none;
}

@mixin borderGradient {
  // background: none !important;
  border-width: 2px;
  border-style: solid;
  border-image: $degrade 1;
  border-radius: 10px !important;
}

@mixin borderGradient2 {
  // background: none !important;
  border-width: 2px;
  border-style: solid;
  border-image: $degrade2 1;
  border-radius: 10px !important;
}

@mixin textGradient {
  background: $degrade;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin textGradient2 {
  background: $degrade2;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
