//fonts
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

$font1: "poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

//colors

$degrade: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
$degrade2: linear-gradient(45deg, #eeaa46, #b86465, #764d82);
$color1: #eeaa46;
$color2: #764d82;
$color3: #d82c2e;
$color4: #dadada;
$white: #fff;
$black: #000;
$bg: #13161d;
$whiteShadow: rgba(255, 255, 255, 0.25);
$blackShadow: rgba(0, 0, 0, 0.25);
$blackOverlay: rgba(0, 0, 0, 0.9);
$whiteOverlay: rgba(255, 255, 255, 0.9);

//general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // user-select: none;
  font-family: $font1;
  cursor: default;
}

body {
  width: 100%;
  background: $bg !important;
}

a {
  text-decoration: none;
}

@mixin afterBorderGradient {
  content: "";
  display: block;
  width: 40px;
  margin: 20px 0;
  box-shadow: 0 0 10px $black;
  @include borderGradient;
}

@mixin afterBorderGradientCenter {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  box-shadow: 0 0 10px $black;
  @include borderGradient;
}

@mixin borderGradient {
  border-width: 2px;
  border-style: solid;
  border-image: $degrade 1;
}

@mixin borderGradient2 {
  border-width: 2px;
  border-style: solid;
  border-image: $degrade2 1;
  border-radius: 10px !important;
}

@mixin textGradient {
  display: inline-block;
  background: $degrade;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin textGradient2 {
  background: $degrade2;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animationEnterHero {
  0% {
    transform: translateX(-600px);
  }

  50% {
    transform: translateX(-300px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes animationEnterHeader {
  0% {
    transform: translateY(-200px);
  }

  50% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes animationEnterButtonCall {
  0% {
    transform: translateX(100px);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes animationEnterSectionApropos {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animationEnterSectionSkills {
  0% {
    transform: translateX(-1500px);
  }
  50% {
    transform: translateX(-750px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animationEnterSectionFormations {
  0% {
    transform: translateX(1500px);
  }
  50% {
    transform: translateX(750px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
