* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  cursor: url(../img/cursor-white.ico), pointer;
}

body {
  background: url(../img/hero.webp) center/contain;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

.buttonDegrade {
  background: linear-gradient(45deg, rgba(118, 77, 130, 0.9), rgba(184, 100, 101, 0.9), rgba(238, 170, 70, 0.9));
  border: 0;
  padding: 10px 30px;
  border-radius: 360px;
  color: #fff;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.buttonDegrade:hover {
  background: linear-gradient(45deg, rgba(238, 170, 70, 0.9), rgba(184, 100, 101, 0.9), rgba(118, 77, 130, 0.9));
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

#portfolio {
  margin: 50px auto;
}
#portfolio h2 {
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
  padding-bottom: 30px;
  text-align: center;
}
#portfolio h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  border: 1.5px solid #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
#portfolio .gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto 10%;
}
#portfolio .gallery-wrap .gallery {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
}
#portfolio .gallery-wrap .gallery::-webkit-scrollbar {
  display: none;
}
#portfolio .gallery-wrap .gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
@media screen and (max-width: 720px) {
  #portfolio .gallery-wrap .gallery div {
    grid-template-columns: 1fr;
  }
}
#portfolio .gallery-wrap .gallery div a {
  width: 100%;
  border-radius: 10px;
}
#portfolio .gallery-wrap .gallery div a img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 10px;
}
#portfolio .gallery-wrap .gallery div a img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#portfolio .gallery-wrap #backBtn,
#portfolio .gallery-wrap #nextBtn {
  font-size: 50px;
  cursor: pointer;
  margin: 40px;
  border-radius: 50%;
  background: linear-gradient(45deg, rgba(118, 77, 130, 0.9), rgba(184, 100, 101, 0.9), rgba(238, 170, 70, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#portfolio .gallery-wrap #backBtn:hover,
#portfolio .gallery-wrap #nextBtn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#contact {
  margin: 50px auto;
  background: linear-gradient(45deg, rgba(118, 77, 130, 0.9), rgba(184, 100, 101, 0.9), rgba(238, 170, 70, 0.9));
  border-radius: 10px;
  padding: 50px;
}
#contact h2 {
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: center;
}
#contact h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  border: 1.5px solid #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
#contact #contact-form {
  font-size: 1rem;
}
#contact .colorized {
  color: #eeaa46;
}
#contact label {
  padding-bottom: 20px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#contact input[type=text],
#contact input[type=email],
#contact input[type=tel],
#contact textarea {
  border-radius: 360px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#contact .form-control {
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#contact .form-control::-webkit-input-placeholder {
  color: #dadada;
}
#contact .form-control::-moz-placeholder {
  color: #dadada;
}
#contact .form-control:-ms-input-placeholder {
  color: #dadada;
}
#contact .form-control::-ms-input-placeholder {
  color: #dadada;
}
#contact .form-control::placeholder {
  color: #dadada;
}
#contact .comments {
  font-style: italic;
  color: #d82c2e;
  height: 25px;
}
#contact .strong {
  padding-bottom: 10px;
  font-size: 0.9rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#contact .thank-you {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

#button-call-fixed {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(45deg, rgba(118, 77, 130, 0.9), rgba(184, 100, 101, 0.9), rgba(238, 170, 70, 0.9));
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
#button-call-fixed:hover {
  background: linear-gradient(45deg, rgba(238, 170, 70, 0.9), rgba(184, 100, 101, 0.9), rgba(118, 77, 130, 0.9));
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#button-call-fixed i {
  cursor: pointer;
}

header {
  padding: 20px 0;
}
header .logo {
  width: 100px;
  height: 100px;
  border-radius: 360px;
  background: linear-gradient(45deg, rgba(118, 77, 130, 0.9), rgba(184, 100, 101, 0.9), rgba(238, 170, 70, 0.9));
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  cursor: pointer;
}
header .logo img {
  padding: 10px;
  width: 100px;
  -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
          filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
}

footer {
  padding: 20px 0;
}
footer p {
  font-size: 0.8rem;
  color: #fff;
}
footer a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  color: #eeaa46;
}

.hero {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero div {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}
.hero div h1 {
  padding-bottom: 30px;
  text-shadow: 0 0 5px #000;
}
.hero div p {
  padding-bottom: 30px;
  text-shadow: 0 0 5px #000;
  text-transform: uppercase;
}

#a-propos {
  background: linear-gradient(45deg, rgba(118, 77, 130, 0.9), rgba(184, 100, 101, 0.9), rgba(238, 170, 70, 0.9));
  padding: 50px;
  border-radius: 10px;
  text-shadow: 0 0 5px #000;
  color: #fff;
}
#a-propos h2 {
  text-transform: uppercase;
  text-shadow: 0 0 10px #000;
}
#a-propos h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px 0;
  border: 1.5px solid #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

#competences {
  margin: 50px auto;
  text-shadow: 0 0 5px #000;
}
#competences h2 {
  text-transform: uppercase;
  text-shadow: 0 0 10px #000;
}
#competences h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px 0;
  border: 1.5px solid #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
#competences h3 {
  padding-top: 40px;
}
#competences h2,
#competences h3,
#competences h5 {
  color: #fff;
  text-shadow: 0 0 10px #000;
}
#competences .container h5 {
  margin: 20px 0;
}
#competences .container .progress {
  height: 25px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  font-size: 0.9rem;
}
#competences .container .progress .progress-bar {
  height: 25px;
  background: linear-gradient(45deg, rgba(118, 77, 130, 0.9), rgba(184, 100, 101, 0.9), rgba(238, 170, 70, 0.9));
}
#competences .competences-techniques .progress {
  background: linear-gradient(45deg, rgba(238, 170, 70, 0.9), rgba(184, 100, 101, 0.9), rgba(118, 77, 130, 0.9));
}

#formations {
  margin: 50px auto;
  background: linear-gradient(45deg, rgba(118, 77, 130, 0.9), rgba(184, 100, 101, 0.9), rgba(238, 170, 70, 0.9));
  border-radius: 10px;
  padding: 50px;
  text-align: center;
}
#formations h2 {
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
  padding-bottom: 30px;
}
#formations h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  border: 1.5px solid #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
#formations .timeline {
  position: relative;
  max-width: 800px;
  margin: auto;
}
#formations .timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#formations .timeline .timeline-item {
  position: relative;
  width: 50%;
  padding: 10px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#formations .timeline .timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
}
#formations .timeline .timeline-item:nth-child(even) {
  left: 50%;
  text-align: left;
}
#formations .timeline .timeline-item .timeline-badge {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, rgba(118, 77, 130, 0.9), rgba(184, 100, 101, 0.9), rgba(238, 170, 70, 0.9));
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  -webkit-transform: translate(-50%, -30px);
          transform: translate(-50%, -30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#formations .timeline .timeline-item .timeline-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 40px 30px 10px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
@media screen and (max-width: 720px) {
  #formations .timeline .timeline-item .timeline-content h5 {
    font-size: small;
  }
}
#formations .timeline .timeline-item .timeline-content h5:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto 10px;
  border: 1.5px solid #fff;
}
@media screen and (max-width: 720px) {
  #formations .timeline .timeline-item .timeline-content p {
    font-size: x-small;
  }
}/*# sourceMappingURL=index.css.map */