@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  cursor: default;
}

body {
  width: 100%;
  background: #13161d !important;
}

a {
  text-decoration: none;
}

@keyframes animationEnterHero {
  0% {
    transform: translateX(-600px);
  }
  50% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes animationEnterHeader {
  0% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animationEnterButtonCall {
  0% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes animationEnterSectionApropos {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animationEnterSectionSkills {
  0% {
    transform: translateX(-1500px);
  }
  50% {
    transform: translateX(-750px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animationEnterSectionFormations {
  0% {
    transform: translateX(1500px);
  }
  50% {
    transform: translateX(750px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.container-hero-bg {
  background: url(../img/hero.webp) no-repeat center/contain;
  background-attachment: fixed;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .container-hero-bg {
    background: url(../img/hero-mobile.png) center/cover;
  }
}

.buttonDegrade {
  padding: 10px 30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
  filter: drop-shadow(0 0 5px #000);
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .buttonDegrade {
    filter: drop-shadow(0 0 5px #fff);
  }
}
.buttonDegrade:hover {
  transform: scale(1.05);
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
     border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
  border-radius: 10px !important;
  background: linear-gradient(45deg, #eeaa46, #b86465, #764d82);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  height: 73vh;
  display: flex;
  justify-content: start;
  align-items: center;
}
.hero .hero-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: #fff;
  transition: animation 0.2s ease;
  transform: translateX(-600px);
  animation: animationEnterHero 0.8s linear forwards;
}
.hero .hero-container h1 {
  padding-bottom: 30px;
  filter: drop-shadow(0 0 5px #13161d);
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .hero .hero-container h1 {
    filter: drop-shadow(0 0 5px #fff);
  }
}
.hero .hero-container p {
  padding-bottom: 30px;
  text-shadow: 0 0 5px #13161d;
  text-transform: uppercase;
  font-size: 1.2rem;
}

#a-propos {
  padding: 30px 50px;
  color: #fff;
  margin: 50px auto;
  overflow: visible;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
  transform: scale(0);
}
@media screen and (max-width: 576px) {
  #a-propos {
    padding: 20px;
  }
}
#a-propos h2 {
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#a-propos h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px 0;
  box-shadow: 0 0 10px #000;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}

#skills {
  margin: 50px auto;
  opacity: 0;
}
#skills h2 {
  width: 100%;
  text-align: center !important;
  margin: 0 auto 50px;
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#skills h3 {
  width: auto;
  width: 100%;
  text-align: center !important;
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#skills h3:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  box-shadow: 0 0 10px #000;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
#skills .row {
  margin-right: -22px;
  margin-left: -22px;
}
#skills .card {
  position: relative;
  color: #fff;
  height: 100%;
  background: none !important;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
#skills .card .card-body {
  background: transparent !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}
#skills .card .skill-title {
  flex-grow: 1;
}
#skills .card .skill-progress {
  align-self: flex-end;
  width: 100%;
}
#skills .card .progress {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-size: 0.9rem;
  height: 20px;
  margin-top: auto;
}
#skills .card .progress .progress-bar {
  height: 20px;
  background-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) !important;
  background-position: center;
}

#formations {
  margin: 50px auto;
  background: none !important;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  opacity: 0;
}
@media screen and (max-width: 576px) {
  #formations {
    padding: 20px;
  }
}
#formations h2 {
  text-transform: uppercase;
  padding-bottom: 30px;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#formations h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  box-shadow: 0 0 10px #000;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
#formations .timeline {
  position: relative;
  max-width: 800px;
  margin: auto;
}
#formations .timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: linear-gradient(45deg, #eeaa46, #b86465, #764d82);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#formations .timeline .timeline-item {
  position: relative;
  width: 50%;
  padding: 10px 40px;
  box-sizing: border-box;
}
#formations .timeline .timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
}
#formations .timeline .timeline-item:nth-child(even) {
  left: 50%;
  text-align: left;
}
#formations .timeline .timeline-item .timeline-badge {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  color: #fff;
  padding: 10px;
  font-weight: bold;
  transform: translate(-50%, -30px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
#formations .timeline .timeline-item .timeline-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 30px 10px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
#formations .timeline .timeline-item .timeline-content h5 {
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 576px) {
  #formations .timeline .timeline-item .timeline-content h5 {
    font-size: small;
  }
}
#formations .timeline .timeline-item .timeline-content h5:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  box-shadow: 0 0 10px #000;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
@media screen and (max-width: 576px) {
  #formations .timeline .timeline-item .timeline-content p {
    font-size: x-small;
  }
}

#portfolio {
  margin: 50px auto;
  transform: scale(0);
}
@media screen and (max-width: 992px) {
  #portfolio {
    border-radius: 10px;
    padding: 20px;
  }
}
#portfolio h2 {
  text-transform: uppercase;
  padding-bottom: 30px;
  text-align: center;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 576px) {
  #portfolio h2 {
    padding-bottom: 0;
  }
}
#portfolio h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  box-shadow: 0 0 10px #000;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
#portfolio .gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 10%;
}
#portfolio .gallery-wrap .gallery {
  width: 900px;
  display: flex;
  overflow: scroll;
}
#portfolio .gallery-wrap .gallery::-webkit-scrollbar {
  display: none;
}
#portfolio .gallery-wrap .gallery .gallery-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 10px;
  flex: none;
  scroll-behavior: smooth;
}
#portfolio .gallery-wrap .gallery .gallery-item a {
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}
#portfolio .gallery-wrap .gallery .gallery-item a:hover {
  transform: scale(1.05);
}
#portfolio .gallery-wrap .gallery .gallery-item a img {
  width: 100%;
  cursor: pointer;
}
#portfolio .gallery-wrap #backBtn,
#portfolio .gallery-wrap #nextBtn {
  width: 50px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
  margin: 40px;
  transition: 0.2s ease;
  text-align: center;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 760px) {
  #portfolio .gallery-wrap #backBtn,
  #portfolio .gallery-wrap #nextBtn {
    display: none;
  }
}
#portfolio .gallery-wrap #backBtn:hover,
#portfolio .gallery-wrap #nextBtn:hover {
  transform: scale(1.2);
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
     border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
  border-radius: 10px !important;
  text-align: center;
  background: linear-gradient(45deg, #eeaa46, #b86465, #764d82);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact {
  margin: 50px auto;
  padding: 30px 50px;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
  opacity: 0;
}
@media screen and (max-width: 576px) {
  #contact {
    padding: 20px;
  }
}
#contact h2 {
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 576px) {
  #contact h2 {
    padding-bottom: 0;
  }
}
#contact h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  box-shadow: 0 0 10px #000;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
#contact #contact-form {
  font-size: 1rem;
}
#contact .colorized {
  color: #fff;
  font-size: 0.8rem;
}
#contact label {
  padding-bottom: 10px;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contact input[type=text],
#contact input[type=email],
#contact input[type=tel],
#contact textarea {
  background: none;
}
#contact .form-control {
  height: 40px;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
#contact .form-control::-moz-placeholder {
  color: #ececec;
}
#contact .form-control::placeholder {
  color: #ececec;
}
#contact .form-control:hover, #contact .form-control:active, #contact .form-control:focus {
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
     border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
  border-radius: 10px !important;
}
#contact .comments {
  font-style: italic;
  color: #d82c2e;
  height: 15px;
  padding-top: 2px;
  font-size: 0.8rem;
}
#contact .strong {
  padding-bottom: 10px;
  font-size: 0.8rem;
}
#contact .thank-you {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.1rem;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  color: #fff;
  padding: 20px;
}

#button-call-fixed {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 60px;
  height: 60px;
  font-size: 1.8rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  cursor: pointer;
  filter: drop-shadow(0 0 5px #000);
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: animation 0.2s ease;
  transform: translateX(100px);
  animation: animationEnterButtonCall 0.8s linear forwards;
}
@media screen and (max-width: 768px) {
  #button-call-fixed {
    filter: drop-shadow(0 0 5px #fff);
  }
}
#button-call-fixed:hover {
  transform: scale(1.05);
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
     border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
  border-radius: 10px !important;
  background: linear-gradient(45deg, #eeaa46, #b86465, #764d82);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#button-call-fixed i {
  cursor: pointer;
}

.title-page {
  text-align: center;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-page:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  box-shadow: 0 0 10px #000;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}

.legal .container-legal {
  margin: 50px auto;
  color: #fff;
}
.legal .container-legal h2 {
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
}
.legal .container-legal h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px 0;
  box-shadow: 0 0 10px #000;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
.legal .container-legal a {
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s ease;
}
.legal .container-legal a:hover {
  background: linear-gradient(45deg, #eeaa46, #b86465, #764d82);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  padding-top: 20px;
  transition: animation 0.2s ease;
  transform: translateY(-200px);
  animation: animationEnterHeader 0.8s linear forwards;
}
header .container-fluid {
  padding: 0;
}
header .logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
  filter: drop-shadow(0 0 5px #000);
}
@media screen and (max-width: 768px) {
  header .logo {
    filter: drop-shadow(0 0 5px #fff);
  }
}
header .logo:hover {
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
     border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
  border-radius: 10px !important;
  transform: scale(1.05);
}
header .logo img {
  padding: 5px;
  width: 100px;
  filter: drop-shadow(0 0 5px #000);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  header .logo img {
    filter: drop-shadow(0 0 5px #fff);
  }
}
header nav .navbar-toggler {
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
header nav ul li {
  filter: drop-shadow(0 0 5px #000);
}

footer {
  padding: 20px 0;
}
footer p {
  font-size: 0.8rem;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer a {
  font-size: 0.8rem;
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.2s ease;
}
footer a:hover {
  background: linear-gradient(45deg, #eeaa46, #b86465, #764d82);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=index.css.map */