@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  cursor: default;
}

body {
  width: 100%;
  background: #13161d !important;
}

a {
  text-decoration: none;
}

.container-hero-bg {
  background: url(../img/hero.webp) no-repeat center/contain;
  background-attachment: fixed;
  height: 100vh;
}

.buttonDegrade {
  padding: 10px 30px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-filter: drop-shadow(0 0 5px #000);
          filter: drop-shadow(0 0 5px #000);
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttonDegrade:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
     border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
  border-radius: 10px !important;
  background: linear-gradient(45deg, #eeaa46, #b86465, #764d82);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  height: 73vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero div {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}
.hero div h1 {
  padding-bottom: 30px;
  -webkit-filter: drop-shadow(0 0 5px #13161d);
          filter: drop-shadow(0 0 5px #13161d);
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero div p {
  padding-bottom: 30px;
  text-shadow: 0 0 5px #13161d;
  text-transform: uppercase;
  font-size: 1.2rem;
}

#a-propos {
  padding: 50px;
  color: #fff;
  margin: 50px auto;
  overflow: visible;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
@media screen and (max-width: 576px) {
  #a-propos {
    padding: 20px;
  }
}
#a-propos h2 {
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#a-propos h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px 0;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}

#competences {
  margin: 50px auto;
}
#competences h2,
#competences h3 {
  width: auto;
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#competences h2 {
  text-align: center !important;
  margin: 0 auto 50px;
}
#competences h3:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px 0;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
#competences .row {
  margin-right: -22px;
  margin-left: -22px;
}
#competences .card {
  position: relative;
  color: #fff;
  height: 100%;
  background: none !important;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
}
#competences .card .card-body {
  background: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#competences .card .progress {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-size: 0.9rem;
  height: 20px;
}
#competences .card .progress .progress-bar-stripped {
  height: 20px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
#competences .card .progress .progress-bar {
  height: 20px;
  background-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) !important;
  background-position: center;
}

#formations {
  margin: 50px auto;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  border-radius: 10px;
  padding: 50px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  #formations {
    padding: 20px;
  }
}
#formations h2 {
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
  padding-bottom: 30px;
}
#formations h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  border: 1.5px solid #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
#formations .timeline {
  position: relative;
  max-width: 800px;
  margin: auto;
}
#formations .timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#formations .timeline .timeline-item {
  position: relative;
  width: 50%;
  padding: 10px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#formations .timeline .timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
}
#formations .timeline .timeline-item:nth-child(even) {
  left: 50%;
  text-align: left;
}
#formations .timeline .timeline-item .timeline-badge {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  -webkit-transform: translate(-50%, -30px);
          transform: translate(-50%, -30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#formations .timeline .timeline-item .timeline-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 40px 30px 10px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}
@media screen and (max-width: 576px) {
  #formations .timeline .timeline-item .timeline-content h5 {
    font-size: small;
  }
}
#formations .timeline .timeline-item .timeline-content h5:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto 10px;
  border: 1.5px solid #fff;
}
@media screen and (max-width: 576px) {
  #formations .timeline .timeline-item .timeline-content p {
    font-size: x-small;
  }
}

#portfolio {
  margin: 50px auto;
}
@media screen and (max-width: 992px) {
  #portfolio {
    border-radius: 10px;
    padding: 20px;
  }
}
#portfolio h2 {
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
  padding-bottom: 30px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  #portfolio h2 {
    padding-bottom: 0;
  }
}
#portfolio h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  border: 1.5px solid #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
#portfolio .gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto 10%;
}
#portfolio .gallery-wrap .gallery {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  border-radius: 10px;
}
#portfolio .gallery-wrap .gallery::-webkit-scrollbar {
  display: none;
}
#portfolio .gallery-wrap .gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 10px;
}
#portfolio .gallery-wrap .gallery div a {
  width: 100%;
  border-radius: 10px;
}
#portfolio .gallery-wrap .gallery div a img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 10px;
}
@media screen and (max-width: 576px) {
  #portfolio .gallery-wrap .gallery div a img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}
#portfolio .gallery-wrap .gallery div a img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#portfolio .gallery-wrap #backBtn,
#portfolio .gallery-wrap #nextBtn {
  font-size: 50px;
  cursor: pointer;
  margin: 40px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-radius: 50%;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 760px) {
  #portfolio .gallery-wrap #backBtn,
  #portfolio .gallery-wrap #nextBtn {
    margin: 10px;
  }
}
#portfolio .gallery-wrap #backBtn:hover,
#portfolio .gallery-wrap #nextBtn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-size: 30px;
}

#contact {
  margin: 50px auto;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  border-radius: 10px;
  padding: 50px;
}
@media screen and (max-width: 576px) {
  #contact {
    padding: 20px;
  }
}
#contact h2 {
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  #contact h2 {
    padding-bottom: 0;
  }
}
#contact h2:after {
  content: "";
  display: block;
  width: 40px;
  margin: 20px auto;
  border: 1.5px solid #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
#contact #contact-form {
  font-size: 1rem;
}
#contact .colorized {
  color: #eeaa46;
}
#contact label {
  padding-bottom: 20px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#contact input[type=text],
#contact input[type=email],
#contact input[type=tel],
#contact textarea {
  border-radius: 360px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#contact .form-control {
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#contact .form-control::-webkit-input-placeholder {
  color: #dadada;
}
#contact .form-control::-moz-placeholder {
  color: #dadada;
}
#contact .form-control:-ms-input-placeholder {
  color: #dadada;
}
#contact .form-control::-ms-input-placeholder {
  color: #dadada;
}
#contact .form-control::placeholder {
  color: #dadada;
}
#contact .comments {
  font-style: italic;
  color: #d82c2e;
  height: 25px;
}
#contact .strong {
  padding-bottom: 10px;
  font-size: 0.9rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#contact .thank-you {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

#button-call-fixed {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 60px;
  height: 60px;
  font-size: 1.8rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px #000);
          filter: drop-shadow(0 0 5px #000);
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
  display: inline-block;
  background: linear-gradient(45deg, #764d82, #b86465, #eeaa46);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#button-call-fixed:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
     border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
  border-radius: 10px !important;
  background: linear-gradient(45deg, #eeaa46, #b86465, #764d82);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#button-call-fixed i {
  cursor: pointer;
}

header {
  padding-top: 20px;
}
header .container-fluid {
  padding: 0;
}
header .logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
     border-image: linear-gradient(45deg, #764d82, #b86465, #eeaa46) 1;
  -webkit-filter: drop-shadow(0 0 5px #000);
          filter: drop-shadow(0 0 5px #000);
}
header .logo:hover {
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
     border-image: linear-gradient(45deg, #eeaa46, #b86465, #764d82) 1;
  border-radius: 10px !important;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
header .logo img {
  padding: 5px;
  width: 100px;
  -webkit-filter: drop-shadow(0 0 5px #000);
          filter: drop-shadow(0 0 5px #000);
  cursor: pointer;
}
header nav ul li {
  -webkit-filter: drop-shadow(0 0 5px #000);
          filter: drop-shadow(0 0 5px #000);
}

footer {
  padding: 20px 0;
}
footer p {
  font-size: 0.8rem;
  color: #fff;
}
footer a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  color: #eeaa46;
}/*# sourceMappingURL=index.css.map */