#a-propos {
  padding: 30px 50px;
  color: $white;
  margin: 50px auto;
  overflow: visible;
  @include borderGradient;
  transform: scale(0);

  @media screen and (max-width: 576px) {
    padding: 20px;
  }

  h2 {
    text-transform: uppercase;
    // text-shadow: 0 0 10px $black;
    @include textGradient;

    &:after {
      @include afterBorderGradient;
    }
  }
}
