#button-call-fixed {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 60px;
  height: 60px;
  font-size: 1.8rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  cursor: pointer;
  filter: drop-shadow(0 0 5px $black);
  @include borderGradient;
  @include textGradient;
  transition: animation 0.2s ease;
  transform: translateX(100px);
  animation: animationEnterButtonCall 0.8s linear forwards;

  @media screen and (max-width: 768px) {
    filter: drop-shadow(0 0 5px $white);
  }

  &:hover {
    transform: scale(1.05);
    @include borderGradient2;
    @include textGradient2;
  }

  i {
    cursor: pointer;
  }
}
