#competences {
  margin: 50px auto;

  h2 {
    text-transform: uppercase;

    &:after {
      content: "";
      display: block;
      width: 40px;
      margin: 20px 0;
      border: 1.5px solid $white;
      box-shadow: 0 0 10px $black;
    }
  }

  h3 {
    &:after {
      content: "";
      display: block;
      width: 40px;
      margin: 20px 0;
      // border: 1.5px solid $white;
      box-shadow: 0 0 10px $black;
      border-width: 1.5px;
      border-style: solid;
      border-image: $degrade 1;
    }
  }

  h2,
  h3 {
    color: $white;
    // text-shadow: 0 0 10px $black;
    text-shadow: 0 0 5px $black;
  }

  .row {
    margin-right: -22px;
    margin-left: -22px;
  }

  .card {
    color: $white;
    height: 100%;
    @include borderGradient;

    .progress {
      height: 20px;
      box-shadow: 0 0 5px $blackShadow;
      // font-size: 0.9rem;

      .progress-bar-stripped {
        background-image: linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.15) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0.15) 75%,
          transparent 75%,
          transparent
        );

        // height: 25px;
        // background: $color1;
        // anim
      }
      .progress-bar {
        background-color: $color1 !important;
      }
    }

    //   .competences-container {
    //     h5 {
    //       margin: 20px 0;
    //     }
    //   }
    // }
    // .competences-techniques {
    //   .progress-bar {
    //     background: $degrade2 !important;
    //   }
  }
}
