#contact {
  margin: 50px auto;
  background: $degrade;
  border-radius: 10px;
  padding: 50px;

  @media screen and (max-width: 576px) {
    padding: 20px;
  }

  h2 {
    color: $white;
    text-shadow: 0 0 10px $black;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;

    @media screen and (max-width: 576px) {
      padding-bottom: 0;
    }

    &:after {
      content: "";
      display: block;
      width: 40px;
      margin: 20px auto;
      border: 1.5px solid $white;
      box-shadow: 0 0 10px $black;
    }
  }

  #contact-form {
    font-size: 1rem;
  }

  .colorized {
    color: $color1;
  }

  label {
    padding-bottom: 20px;
    color: $white;
    text-shadow: 0 0 5px $blackShadow;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    border-radius: 360px;
    box-shadow: 0 0 5px $blackShadow;
  }
  .form-control {
    height: 40px;
    background: transparent;
    border: 2px solid $white;
    color: $white;
    text-shadow: 0 0 5px $blackShadow;

    &::placeholder {
      color: $color4;
    }
  }

  .comments {
    font-style: italic;
    color: $color3;
    height: 25px;
  }

  .strong {
    padding-bottom: 10px;
    font-size: 0.9rem;
    text-shadow: 0 0 5px $blackShadow;
  }

  .thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1rem;
    color: $white;
  }
}
