#contact {
  margin: 50px auto;
  padding: 30px 50px;
  @include borderGradient;
  opacity: 0;

  @media screen and (max-width: 576px) {
    padding: 20px;
  }

  h2 {
    text-transform: uppercase;
    padding-bottom: 10px;

    @include textGradientCenter;

    @media screen and (max-width: 576px) {
      padding-bottom: 0;
    }

    &:after {
      @include afterBorderGradientCenter;
    }
  }

  #contact-form {
    font-size: 1rem;
  }

  .colorized {
    color: $white;
    font-size: 0.8rem;
  }

  label {
    padding-bottom: 10px;
    @include textGradient;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    background: none;
  }
  .form-control {
    height: 40px;
    color: $white;
    @include borderGradient;

    &::placeholder {
      color: $color4;
    }

    &:hover,
    &:active,
    &:focus {
      @include borderGradient2;
    }
  }

  .comments {
    font-style: italic;
    color: $color3;
    height: 15px;
    padding-top: 2px;
    font-size: 0.8rem;
  }

  .strong {
    padding-bottom: 10px;
    font-size: 0.8rem;
  }

  .thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.1rem;
    @include borderGradient;
    background: $degrade;
    color: $white;
    padding: 20px;
  }
}
