#formations {
  margin: 50px auto;
  background: none !important;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  opacity: 0;

  // @include borderGradient;

  @media screen and (max-width: 576px) {
    padding: 20px;
  }

  h2 {
    text-transform: uppercase;
    padding-bottom: 30px;
    @include textGradient;

    &:after {
      @include afterBorderGradientCenter;
    }
  }
  .timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      background: $degrade2;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -2px;
      box-shadow: 0 0 5px $blackShadow;
    }
    .timeline-item {
      position: relative;
      width: 50%;
      padding: 10px 40px;
      box-sizing: border-box;
      &:nth-child(odd) {
        left: 0;
        text-align: right;
      }
      &:nth-child(even) {
        left: 50%;
        text-align: left;
      }
      .timeline-badge {
        position: absolute;
        top: 10px;
        left: 50%;
        width: 60px;
        height: 60px;
        background: $degrade;
        color: $white;
        padding: 10px;
        font-weight: bold;
        transform: translate(-50%, -30px);
        display: flex;
        justify-content: center;
        align-items: center;
        @include borderGradient;
      }

      .timeline-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 30px 10px;
        border-radius: 10px;
        color: $white;
        text-align: center;
        font-size: 1rem;

        @include borderGradient;

        h5 {
          @include textGradient;

          @media screen and (max-width: 576px) {
            font-size: small;
          }
          &:after {
            @include afterBorderGradientCenter;
          }
        }

        p {
          @media screen and (max-width: 576px) {
            font-size: x-small;
          }
        }
      }
    }
  }
}
