.hero {
  height: 73vh;
  display: flex;
  justify-content: start;
  align-items: center;

  .hero-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: $white;
    transition: animation 0.2s ease;
    transform: translateX(-600px);
    animation: animationEnterHero 1s linear forwards;

    h1 {
      padding-bottom: 30px;
      filter: drop-shadow(0 0 5px $bg);
      @include textGradient;
    }

    p {
      padding-bottom: 30px;
      text-shadow: 0 0 5px $bg;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }
}
