#portfolio {
  margin: 50px auto;
  transform: scale(0);

  @media screen and (max-width: 992px) {
    border-radius: 10px;
    padding: 20px;
  }

  h2 {
    text-transform: uppercase;
    padding-bottom: 30px;
    @include textGradientCenter;

    @media screen and (max-width: 576px) {
      padding-bottom: 0;
    }
    &:after {
      @include afterBorderGradientCenter;
    }
  }

  .gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 10%;

    .gallery {
      width: 900px;
      display: flex;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      div {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        padding: 10px;
        flex: none;

        a {
          width: 100%;
          cursor: pointer;
          transition: 0.5s ease;

          &:hover {
            transform: scale(1.05);
          }

          img {
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }
    #backBtn,
    #nextBtn {
      width: 50px;
      height: 50px;
      font-size: 40px;
      cursor: pointer;
      margin: 40px;
      transition: 0.2s ease;
      @include textGradientCenter;
      @include borderGradient;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 760px) {
        margin: 10px;
      }
      &:hover {
        transform: scale(1.2);
        @include borderGradient2;
        @include textGradientCenter2;
      }
    }
  }
}
