#skills {
  margin: 50px auto;
  opacity: 0;

  h2 {
    width: 100%;
    text-align: center !important;
    margin: 0 auto 50px;
    text-transform: uppercase;
    @include textGradient;
  }

  h3 {
    width: auto;
    width: 100%;
    text-align: center !important;
    text-transform: uppercase;
    @include textGradient;

    &:after {
      @include afterBorderGradientCenter;
    }
  }

  .row {
    margin-right: -22px;
    margin-left: -22px;
  }

  .card {
    position: relative;
    color: $white;
    height: 100%;
    background: none !important;
    @include borderGradient;

    .card-body {
      background: transparent !important;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      height: 100%;
    }

    .skill-title {
      flex-grow: 1;
    }

    .skill-progress {
      align-self: flex-end;
      width: 100%;
    }

    .progress {
      box-shadow: 0 0 5px $blackShadow;
      font-size: 0.9rem;
      height: 20px;
      margin-top: auto;

      .progress-bar {
        height: 20px;
        background-image: $degrade !important;
        background-position: center;
      }
    }
  }
}
