footer {
  padding: 20px 0;

  p {
    font-size: 0.8rem;
    @include textGradient;
  }

  a {
    font-size: 0.8rem;
    text-decoration: none;
    @include textGradient;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      @include textGradient2;
    }
  }
}
