header {
  padding-top: 20px;
  transition: animation 0.2s ease;
  transform: translateY(-200px);
  animation: animationEnterHeader 0.8s linear forwards;

  .container-fluid {
    padding: 0;
  }

  .logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    @include borderGradient;
    filter: drop-shadow(0 0 5px $black);

    @media screen and (max-width: 768px) {
      filter: drop-shadow(0 0 5px $white);
    }

    &:hover {
      @include borderGradient2;

      transform: scale(1.05);
    }

    img {
      padding: 5px;

      width: 100px;
      filter: drop-shadow(0 0 5px $black);
      cursor: pointer;

      @media screen and (max-width: 768px) {
        filter: drop-shadow(0 0 5px $white);
      }
    }
  }

  nav {
    .navbar-toggler {
      @include borderGradient;
    }

    ul {
      li {
        filter: drop-shadow(0 0 5px $black);
      }
    }
  }
}
