header {
  padding-top: 20px;

  .logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 360px;
    // background: $degrade;
    // box-shadow: 0 0 5px $blackShadow;
    @include borderGradient;

    &:hover {
      background: $degrade2;
      box-shadow: 0 0 10px $blackShadow;
      transform: scale(1.05);
    }

    img {
      padding: 5px;

      width: 100px;
      filter: drop-shadow(0 0 5px $black);
      cursor: pointer;
    }
  }
}
