header {
  padding-top: 20px;

  .container-fluid {
    padding: 0;
  }

  .logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    @include borderGradient;
    filter: drop-shadow(0 0 5px $black);

    &:hover {
      @include borderGradient2;

      transform: scale(1.05);
    }

    img {
      padding: 5px;

      width: 100px;
      filter: drop-shadow(0 0 5px $black);
      cursor: pointer;
    }
  }

  nav {
    ul {
      li {
        filter: drop-shadow(0 0 5px $black);
      }
    }
  }
}
